body {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: 0;
  background-color: #000000;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  padding: 10px;
  border-radius: 10px;
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.corner {
  width: 20px;
  height: 20px;
  margin: 20px;
}

.edge {
  border: 1px solid black;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin: 10px;
}

.edge:-moz-drag-over {
  border: 0px;
  outline: 10px solid greenyellow;
}

.letter {
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  background-color: greenyellow;
  font-size: 40px;
  text-align: center;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.highlighted {
  border: 1px solid orange;
}

.topBox {
  display: flex;
  padding: 20px;
/*   align-self: stretch; */
}

.wordButton {
  background-color: orange;
  border-color: orange;
  border-radius: 20px;
  margin: 10px 20px;
  padding: 0px 20px;
  font-size: 40px;
  min-height: 2em;
  min-width: 3em;
}

.cancelButton {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  border-radius: 20px;
  margin: 10px 20px;
  padding: 0px 20px;
  font-size: 40px;
  min-height: 2em;
  justify-self: right;
}

.scoreBox {
  background-color: cornflowerblue;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 20px;
  text-align: center;
}

.label {
  
}

.wordCount {
  font-size: 2em;
}

.wordList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.foundWord {
  background-color: orange;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px;
}
