body {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: 0;
  background-color: #1b2932;
  background-image: url(./background.png);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.game {
  padding: 10px;
  border-radius: 10px;
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.corner {
  width: 20px;
  height: 20px;
  margin: 20px;
}

.edge {
  border: 1px solid black;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin: 10px;
}

.edge:-moz-drag-over {
  border: 0px;
  outline: 10px solid greenyellow;
}

.letter {
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  background-color: greenyellow;
  font-size: 40px;
  text-align: center;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

@keyframes downShift {
  0% {
    top: -60px;
    background-color: white;
  }
  100% {
    top: 0px;
    background-color: greenyellow;
  }
}

@keyframes upShift {
  0% {
    top: 60px;
    background-color: white;
  }
  100% {
    top: 0px;
    background-color: greenyellow;
  }
}

@keyframes rightShift {
  0% {
    left: -60px;
    background-color: white;
  }
  100% {
    left: 0px;
    background-color: greenyellow;
  }
}

@keyframes leftShift {
  0% {
    left: 60px;
    background-color: white;
  }
  100% {
    left: 0px;
    background-color: greenyellow;
  }
}

.letterDownShift {
  animation: downShift;
  animation-duration: 1s;
}

.letterUpShift {
  animation: upShift;
  animation-duration: 1s;
}

.letterRightShift {
  animation: rightShift;
  animation-duration: 1s;
}

.letterLeftShift {
  animation: leftShift;
  animation-duration: 1s;
}

.highlighted {
  border: 1px solid #d6a319;
}

.topBox {
  display: flex;
  padding: 20px;
/*   align-self: stretch; */
}

.wordButton {
  background-color: #d6a319;
  border-color: #d6a319;
  border-radius: 20px;
  margin: 10px 20px;
  padding: 0px 20px;
  font-size: 40px;
  min-height: 2em;
  min-width: 3em;
}

.cancelButton {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  border-radius: 20px;
  margin: 10px 20px;
  padding: 0px 20px;
  font-size: 40px;
  min-height: 2em;
  justify-self: right;
}

.scoreBox {
  background-color: cornflowerblue;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 20px;
  text-align: center;
}

.wordCount {
  font-size: 2em;
}

.wordList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.foundWord {
  background-color: #d6a319;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px;
}

@keyframes alreadyFound {
  0% {background-color: red}
  100% {background-color: #d6a319}
}

.alreadyFoundWord {
  animation: alreadyFound;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.scoreIncrease {
  position: fixed;
  color: white;
  animation: floatUp;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  z-index: 1;
  font-size: 1.5em;
}
